{
  "compilerOptions": {
    "target": "ES2022",
    "lib": ["ES2022"],
    "module": "nodenext",
    "moduleResolution": "nodenext",
    "strict": true,
    "esModuleInterop": true,
    "skipLibCheck": true,
    "outDir": "dist",
    "rootDir": "src",
    "types": ["node"],
    "paths": {
      "node-gtk": ["./node_modules/.node-gtk-types/node-gtk.d.ts"]
    }
  },
  "include": ["src/**/*.ts"],
  "files": ["node_modules/.node-gtk-types/node-gtk.d.ts"]
}
