@define-color insert-bg #d0ffa3;
@define-color insert-outline shade(@insert-bg, 0.8);
@define-color insert-text #008800;
@define-color delete-bg White;
@define-color delete-outline shade(@delete-bg, 0.8);
@define-color delete-text #880000;
@define-color replace-bg #bdddff;
@define-color replace-outline shade(@replace-bg, 0.8);
@define-color replace-text #0044dd;
@define-color conflict-bg #ffa5a3;
@define-color conflict-outline shade(@conflict-bg, 0.8);
@define-color conflict-text #ff0000;
@define-color error-bg #fce94f;
@define-color error-outline shade(@error-bg, 0.8);
@define-color error-text #faad3d;
@define-color inline-bg #8ac2ff;
@define-color unknown-text #888888;
@define-color current-line-highlight #ffff00;
@define-color syncpoint-outline #555555;
@define-color current-chunk-highlight #404040;

GtkWindow {
    opacity: 0.99;
    background-color: rgba(200, 200, 200, 0.3);
}

textview {
}

entry,entryview,.entry {
    font-family: 'Source Code Pro';
}

text {
    font-family: 'Source Code Pro';
}

/*textview text {*/
    /*color: grey;*/
/*}*/
textview current-line-highlight,textview .current-line-highlight {
    background: #353535;
    background-color: #353535;
}

current-line-highlight,.current-line-highlight {
    background: #353535;
    background-color: #353535;
}

.text {
    background-color: #707070;
}
