name: main
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build-windows:
    name: windows - nodejs ${{ matrix.node }}
    runs-on: windows-latest
    strategy:
      matrix:
        node:
          - 24
          - 22
          - 20
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          path-type: inherit
          update: true
          install: |
            git
            mingw-w64-x86_64-gobject-introspection
            mingw-w64-x86_64-gtk3
            mingw-w64-x86_64-cairo
            mingw-w64-x86_64-gstreamer
            mingw-w64-x86_64-gst-plugins-good
            mingw-w64-x86_64-gst-plugins-bad
            mingw-w64-x86_64-libsoup

      - name: Install VS 2017
        shell: cmd
        run: choco upgrade -y visualstudio2017-workload-vctools

      - name: Install & Build
        run: |
          ./windows/mingw_include_extra.sh
          export MINGW_WINDOWS_PATH=$(./windows/mingw_windows_path.sh)
          npm install --build-from-source

      - name: Run tests
        run: |
          npx mocha                                 \
                    --skip=callback                 \
                    --skip=union__fields            \
                    tests/__run__.js

  build:
    name: ${{ matrix.os }} - nodejs ${{ matrix.node }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        node:
          - 24
          - 22
          - 20
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      # FIXME: cache disabled becasue not working for now
      # Setup cache
      # - uses: actions/cache@v2
      #   id: node-gtk-cache
      #   with:
      #     path: ${{ runner.temp }}/packages-cache
      #     key: ${{ runner.os }}-node-${{ matrix.node }}-cache-key-1.0

      # Install & cache packages
      # - uses: airvzxf/cache-anything-new-action@v1.0.1
      #   with:
      #     script: 'install.sh'
      #     is_cached: ${{ steps.cache-id.outputs.cache-hit }}
      #     cache: ${{ runner.temp }}/packages-cache
      #     snapshot: '/'
      #     exclude: '/boot /data /dev /mnt /proc /run /sys'

      # Install & cache packages
      - run: .github/workflows/install.sh

      # Install & Build
      - run: npm install --build-from-source

      # Run the CI script (tests & publishing)
      - run: ./scripts/ci.sh
        env:
          COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
